<!-- Modal -->
<div id="payment-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Make a Payment</h4>
      </div>
      <div class="modal-body">
        <div id="wepay_checkout"></div>
        <script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js"></script>
        <script type="text/javascript">
          WePay.iframe_checkout("wepay_checkout", "https://stage.wepay.com/api/checkout/12345");
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
