// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "html5imageupload";

.centered {
  float: none;
  margin: auto;
}

.img-overlay-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.img-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  float: none;
  margin: auto;
  text-align: center;
}

#home {
  @media (max-width: 599px) {
    background-position: center;
  }
}

#contact {
  @media (max-width: 599px) {
    background-position: left;
  }
}

.img-overlay-header-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  float: none;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  height: 40%;
  width: 80%;

  @media(max-width: 599px) {
    top: 35%;
  }
}

.img-overlay-header {
  font-size: 45px;
  font-family: 'Reenie Beanie';
  margin-top: 0;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

  @media(max-width: 599px) {
    font-size: 42px;
    padding-top: 0px;
  }
}

.img-overlay-button {
  float: none;
  margin: auto;
  margin-top: 20%;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  font-size: 23px;
  background-color: rgba(255, 255, 255, 0.75);

  &:hover {
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
  }

  @media(max-width: 599px) {
    margin-top: 60%;
  }
}

.img-overlay-button-content {
  font-family: 'Pacifico';
  position: relative;
  top: 48%;
  transform: translateY(-50%);
}

.featured-mug {
  float: none;
  margin: auto;
  width: 65%;
  height: 70%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);

  @media(max-width: 599px) {
    width: 80%;
    height: 100%;
  }
}

.featured-mug-image {
  float: left;
  height: 80%;
  transform: translateY(12%);
  margin-left: 20px;
  border-radius: 4px;

  @media(max-width: 599px) {
    float: none;
    margin: auto;
    height: 50%;
    transform: translateY(8%);
  }
}

.featured-mug-name {
  @media(max-width: 599px) {
    font-size: 12px;
    margin-top: 14px;
  }

  @media(max-width: 374px) {
    margin-top: 10px;
  }
}

.featured-mug-review {
  margin-top: 3%;
  font-size: 18px;

  @media(max-width: 599px) {
    font-size: 16px;
    margin-top: 0px;
  }
}

.fancy-quotes {
  font-size: 30px;

  @media(max-width: 599px) {
    font-size: 25px;
  }
}

.sections-container {
  font-family: 'Pacifico';
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  float: none;
  margin: auto;

  img {
    margin-top: 20px;
    height: 120px;
    width: 120px;
    border-radius: 4px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  h3 {
    font-size: 18px;
  }

  @media(max-width: 599px) {
    top: 25%;
  }

  @media(max-width: 374px) {
    top: 20%;
  }
}

.order-box {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  float: none;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  height: 70%;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.9);

  @media(max-width: 599px) {
    width: 72%;
  }
}

.order-box-input {
  display: inline-block !important;
  width: 48% !important;
  margin-bottom: 5px;
}

#order_message {
  height: 34px;
}

.dropzone {
  height: 200px;
  width: 200px;

  @media(max-width: 599px) {
    height: 150px !important;
    width: 150px !important;

    &:after {
      font-size: 21px !important;
    }
  }

  @media(max-width: 374px) {
    height: 120px !important;
    width: 120px !important;

    &:after {
      font-size: 18px !important;
    }
  }
}

#order-box-header {
  padding-top: 1%;
}

#get-inspired {
  margin-top: 10%;

  @media(max-width: 799px) {
    margin-top: 15%;
  }

  @media(max-width: 599px) {
    margin-top: 33%;
  }
}

.contact-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  border: solid 1px #ddd;

  @media(max-width: 599px) {
    width: 40% !important;
    margin-left: 4px;
    margin-right: 4px;

    img {
      width: 70px;
      height: 70px;
    }
  }
}
