// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkout-container {
  width: 50%;
  max-width: 600px;
  border-radius: 4px;
  height: 70%;
  max-height: 500px;
  top: 15%;
  float: none;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;

  @media(max-width: 599px) {
    width: 80%;
  }
}

.checkout-header {
  font-size: 45px;
  font-family: 'Reenie Beanie';
  margin-top: 0;
  padding-top: 0 !important;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;

  @media(max-width: 599px) {
    font-size: 38px;
    padding-top: 0px;
  }
}

.checkout-image {
  float: none;
  margin: auto;
  display: block;
  padding: 5px;
  border-radius: 10px;
  width: 250px;
  height: 250px;

  @media(max-width: 599px) {
    width: 180px;
    height: 180px;
  }
}

.checkout-price {
  float: none;
  margin: auto;
  margin-top: 15px;
  font-size: 25px;

  @media(max-width: 599px) {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 18px;
  }

  @media(max-width: 599px) {
    margin-top: 0px;
    font-size: 18px;
  }
}

.checkout-button {
  float: none;
  margin: auto;
  display: inline;
  border-radius: 4px;
  font-size: 16px;
  width: 160px;
  background-color: transparent;
  border: 2px lightgrey solid;

  @media(max-width: 599px) {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    width: 130px;
  }
}

.selected {
  background-color: #33ccff;
  border: 0px;
}

.button {
  margin-top: 50px;
  color: black !important;

  @media(max-width: 599px) {
    margin-top: 50px;
  }

  @media(max-width: 374px) {
    margin-top: 10px;
  }
}

#cancel-order {
  background-color: rgba(255, 100, 100, 0.9);

  &:hover {
    background-color: rgba(255, 50, 50, 0.9);
  }

  @media(max-width: 599px) {
    font-size: 15px;
  }

  @media(max-width: 374px) {
    font-size: 12px;
  }
}

.finalize-order {
  background-color: rgba(100, 255, 100, 0.9);

  &:hover {
    background-color: rgba(80, 255, 80, 0.9);
  }

  @media(max-width: 599px) {
    font-size: 15px;
  }

  @media(max-width: 374px) {
    font-size: 12px;
  }
}

#order_review {
  width: 60% !important;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;

  @media(max-width: 374px) {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 75px;
  }
}

.checkout-review {
  margin-top: 50px;
}

.order-sorts {
  text-align: center;
  margin-bottom: 50px;

  h4 {
    margin: 10px;
    display: inline;

    a {
      &:hover {
        background-color: transparent;
      }
    }

  }

  .sorted-by {
    text-decoration: underline;
  }
}

.orders-table {
  td, th {
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: black;
  }
}
